

html, body
{
	margin:0;
	background-color: #f5f5f5;
	height: 90%;
	background: url("/assets/paper2.png") ;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor:default;
}


.horizontal
{
	display: flex;
	justify-content: center;
	height: 100%;
}
.vertical
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 0 2%;
	/*width: 80%;*/

}

.word
{
	font-size: 4em;
	color: #f82;
	font-family: 'Nunito', sans-serif;
}

.description
{
	font-size: 1.5em;
	color: #555;
	padding: 10px 0px;
	/*font-family: 'Dosis', cursive;*/
	font-family: 'Asul';
}

.example
{
	padding: 10px 5%;
	color: #888;
	font-size: 1em;
	font-family: 'Asul';
	/*font-family: 'Dosis', cursive;*/
}	

#search
{
	margin-top: 20px;
}

.noteWrapper
{
	display: flex;
	justify-content: center;
}

.note
{
	font-family: 'Handlee';
	color: #ccc;
	font-size: 1em;
	position: relative;
	/*left: 50%;*/
	/*top: 500px;*/
	color: #dcb;
	/*width: 500px;*/
	text-align: right;
}

.note img 
{
	height: 50px;
	opacity: 0.2;
	/*top: -50px;*/
	/*left: -5px;*/
	/*position: absolute;*/

}

.note2
{
	font-family: 'Handlee';
	color: #ccc;
	font-size: 1em;
	position: absolute;
	left: 5%;
	color: #dcb;
	bottom: 170px;
}


#search
{
	font-size: 2em;
	padding: 10px;
	text-align: center;
	border:none;
	background: none;
	outline: none;
	color: #999;
	font-family: 'Nunito' , sans-serif;
	transition: 1s ease;
}

.wrong
{
	opacity: 0.5;
	color: #aaa !important;
	transition: 1s ease;
}

.correct
{
	color: #f82 !important;
	transition: 1s ease;

}

.notreally
{
	color: #777 !important;
	transition: 1s ease;

}



footer
{
	background-color: #333;
	color: #aaa;
	position: fixed;
	width: 100%;
	bottom: 0;
	font-family: 'Nunito', sans-serif;
	padding: 10px 0;
}


footer a
{
	text-decoration: none;
	color: #aaa;
}

footer a:visited
{
	color: #aaa;
}

footer a:hover
{
	color: #fff;
}


.heart 
{
	color: #f80;
}

.text	
{
	font-size: 1.5em;
}

.credits
{
	font-size: 1em;
}

footer img 
{
	max-height: 20px;
}



@media screen and (min-width: 300px) and (max-width: 500px){
	html 
	{
		font-size: 70%;
	}
	
	.optional
	{
		display: none;
	}

	footer
	{
		display: block !important;
	}



}


@media screen and (min-width: 500px) and (max-width: 1000px){
	html 
	{
		font-size: 100%;
	}
	
	.optional
	{
		display: none;
	}

}


@media screen and (min-width: 1000px) and (max-width: 1400px) {
	html 
	{
		font-size: 120%;
	}

	footer
	{
		font-size: 90% !important;
	}
}

@media screen and (min-width: 1400px)  {
	html 
	{
		font-size: 130%;
	}

	footer
	{
		font-size: 70% !important;
	}
}
